# Firebase Web App Credentials
VITE_FB_API_KEY=
VITE_FB_AUTH_DOMAIN=
VITE_FB_PROJECT_ID=
VITE_FB_STORAGE_BUCKET=
VITE_FB_MESSAGING_SENDER_ID=
VITE_FB_APP_ID=
VITE_FB_MEASUREMENT_ID=

# Set true to run in mock/offline mode
VITE_USE_MOCK=false

VITE_API_KEY="AIzaSyBYDmydfFFjoy1HIoL1l4wB_foJM_72WMg"
VITE_AUTH_DOMAIN="kreativeium.firebaseapp.com"
VITE_PROJECT_ID="kreativeium"
VITE_STORAGE_BUCKET="kreativeium.firebasestorage.app"
VITE_MESSAGING_SENDER_ID="512032371136"
VITE_APP_ID="1:512032371136:web:0045d3324b3cf8178c1825"
VITE_MEASUREMENT_ID="G-CE6YCQE0JP" 